.led-rows {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    margin: 50px 20px;
}

.music-sheet-wrapper {
    display: flex;
    flex-direction: row;
    margin: 20px;
}
.music-sheet-col {
    display: flex;
    flex-direction: column;
    width: 300px;
}
.music-sheet-col-1 {
    border-right: solid 1px black;
}
.music-sheet-row, .music-sheet-footer {
    height: 20px;
    border-bottom: solid 1px black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.music-sheet-row.music-sheet-row-1 {
    border-top: solid 1px black;
}
.music-sheet-note, .music-sheet-label {
    width: 16px;
    height: 16px;
    border: solid 1px black;
    border-radius: 20px;
    background-color: black;
}
.music-sheet-note-active {
    background-color: red;
}
.music-sheet-note-N {
    background-color: transparent;
    border-color: transparent;
}
.music-sheet-note-3, .music-sheet-note-11,
.music-sheet-label-3, .music-sheet-label-11 {
    margin-right: 20px;
}
.music-sheet-footer {
    border: 0;
}
.music-sheet-label {
    border: 0;
    background: none;
    text-align: center;
}
.intensity-tracker {
    width: 300px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: 20px;
}
.intensity-tracker-bar {
    height: 0;
    width: 20px;
    background-color: red;
    border: solid 1px black;
}